<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mj.mapper.ZAMenuMapper">
  <resultMap id="BaseResultMap" type="com.mj.entity.ZAMenu">
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="ParentID" jdbcType="BIGINT" property="parentid" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Code" jdbcType="VARCHAR" property="code" />
    <result column="Icon" jdbcType="VARCHAR" property="icon" />
    <result column="Location" jdbcType="INTEGER" property="location" />
    <result column="Level" jdbcType="INTEGER" property="level" />
    <result column="BindType" jdbcType="INTEGER" property="bindtype" />
    <result column="BindMode" jdbcType="INTEGER" property="bindmode" />
    <result column="BindData" jdbcType="VARCHAR" property="binddata" />
    <result column="OrderFlag" jdbcType="BIGINT" property="orderflag" />
    <result column="Description" jdbcType="VARCHAR" property="description" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="AddUser" jdbcType="VARCHAR" property="addUser" />
    <result column="AddTime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="ModifyUser" jdbcType="VARCHAR" property="modifyuser" />
    <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  <insert id="insert" parameterType="com.mj.entity.ZAMenu">
    insert into ZAMenu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="parentid != null">
        ParentID,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="code != null">
        Code,
      </if>
      <if test="icon != null">
        Icon,
      </if>
      <if test="location != null">
        Location,
      </if>
      <if test="level != null">
        Level,
      </if>
      <if test="bindtype != null">
        BindType,
      </if>
      <if test="bindmode != null">
        BindMode,
      </if>
      <if test="binddata != null">
        BindData,
      </if>
      <if test="orderflag != null">
        OrderFlag,
      </if>
      <if test="description != null">
        Description,
      </if>
      <if test="memo != null">
        Memo,
      </if>
      <if test="addUser != null">
        AddUser,
      </if>
      <if test="addTime != null">
        AddTime,
      </if>
      <if test="modifyuser != null">
        ModifyUser,
      </if>
      <if test="modifytime != null">
        ModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="bindtype != null">
        #{bindtype,jdbcType=INTEGER},
      </if>
      <if test="bindmode != null">
        #{bindmode,jdbcType=INTEGER},
      </if>
      <if test="binddata != null">
        #{binddata,jdbcType=VARCHAR},
      </if>
      <if test="orderflag != null">
        #{orderflag,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="addUser != null">
        #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuser != null">
        #{modifyuser,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!-- 查询所有数据 -->
  <select id="list" resultType="ZAMenu"> listParent
  	select * from zamenu
  </select>
  <!-- 查询一级菜单  -->
  <select id="listParent" resultType="ZAMenu"> 
  	select * from zamenu where parid = 0 order by orderflag
  </select>
  
  <select id="listSon" resultType="ZAMenu" parameterType = "String">
  	select * from zamenu where parid = #{id} order by orderflag 
  </select>
  
  <select id="selectById" resultType="ZAMenu" parameterType = "int">
  	select * from zamenu where id = #{id}
  </select>
  
  
</mapper>