<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mj.mapper.ZARoleMapper">
  <resultMap id="BaseResultMap" type="com.mj.entity.ZARole">
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="Code" jdbcType="VARCHAR" property="code" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Description" jdbcType="VARCHAR" property="description" />
    <result column="Icon" jdbcType="VARCHAR" property="icon" />
    <result column="RoleType" jdbcType="INTEGER" property="roletype" />
    <result column="AppID" jdbcType="BIGINT" property="appid" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="AddUser" jdbcType="VARCHAR" property="addUser" />
    <result column="AddTime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="ModifyUser" jdbcType="VARCHAR" property="modifyuser" />
    <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  <insert id="insert" parameterType="com.mj.entity.ZARole">
    insert into ZARole (ID, Code, Name, 
      Description, Icon, RoleType, 
      AppID, Memo, AddUser, 
      AddTime, ModifyUser, ModifyTime
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{roletype,jdbcType=INTEGER}, 
      #{appid,jdbcType=BIGINT}, #{memo,jdbcType=VARCHAR}, #{addUser,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{modifyuser,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mj.entity.ZARole">
    insert into ZARole
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        Code,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="description != null">
        Description,
      </if>
      <if test="icon != null">
        Icon,
      </if>
      <if test="roletype != null">
        RoleType,
      </if>
      <if test="appid != null">
        AppID,
      </if>
      <if test="memo != null">
        Memo,
      </if>
      <if test="addUser != null">
        AddUser,
      </if>
      <if test="addTime != null">
        AddTime,
      </if>
      <if test="modifyuser != null">
        ModifyUser,
      </if>
      <if test="modifytime != null">
        ModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="roletype != null">
        #{roletype,jdbcType=INTEGER},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=BIGINT},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="addUser != null">
        #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyuser != null">
        #{modifyuser,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="getRoleById" resultType="ZARole" parameterType="int">
  	select * from zarole where id = #{id}
  </select>
</mapper>